<div id="main-column" class="column span-16 colborder">
  <p class="right">
    <a href="#">Your recipes</a>&nbsp;&nbsp;
    <a href="#">Accont recipes</a>&nbsp;&nbsp;
    <a href="#">All shared recipes</a>
  </p>
  <h2>Food Options</h2>
  <p>Definitely need to describe what is going on here. Possibly that we have inserted fitties approved food options and that
    the trainer can change around whatever they like. They can also submit new options and they will be saved for when the trainer
    creates a meal plan for their client</p>

  <div id="food-list">
    <div id="food-id-123455" class="food-container clearfix">
      <div class="food-details">
        <h3 class="food-name">
          <a href="/recipes/2-eggs-and-an-english-muffin" title="2 Eggs and an English Muffin">2 Eggs and an English Muffin</a>
        </h3>
        Breakfast
      </div>
      <dl class="calories">
        <dt>Total Calories</dt>
        <dd>400</dd>
      </dl>
      <dl class="carbs-fiber">
        <dt>Total Carbs</dt>
        <dd>40 grams</dd>
        <dt>Total Fiber</dt>
        <dd>40 grams</dd>
      </dl>
      <dl class="protein-fat">
        <dt>Total Protein</dt>
        <dd>40 grams</dd>
        <dt>Total Fat</dt>
        <dd>40 grams</dd>
      </dl>
    </div>
    <div id="food-id-123456 " class="food-container clearfix">
      <div class="food-details">
        <h3 class="food-name">
          <a href="/recipes/2-eggs-and-an-english-muffin" title="2 Eggs and an English Muffin">2 Eggs and an English Muffin</a>
        </h3>
        Breakfast
      </div>
      <dl class="calories">
        <dt>Total Calories</dt>
        <dd>400</dd>
      </dl>
      <dl class="carbs-fiber">
        <dt>Total Carbs</dt>
        <dd>40 grams</dd>
        <dt>Total Fiber</dt>
        <dd>40 grams</dd>
      </dl>
      <dl class="protein-fat">
        <dt>Total Protein</dt>
        <dd>40 grams</dd>
        <dt>Total Fat</dt>
        <dd>40 grams</dd>
      </dl>
    </div>
  </div>
</div>

<div id="secondary-column" class="column span-7 last">
  <button class="in-line-with-text" type="button">
    Create a Meal
  </button>
  
  <p>Find a Meal by Name <input class="side text" type="text" /></p>
  <p>Find by an ingredient <input class="side text" type="text" /></p>
  <p>Show: 
    <select id="" name="">
      <option value="">All Meals</option>
      <option value="">Breakfast</option>
      <option value="">Snacks</option>
      <option value="">Lunches</option>
      <option value="">Dinners</option>
    </select>
  </p>
</div>