<h2>Editing <%= @clientName %>'s eating plan</h2>
<form class="form" method="post">
  <fieldset>
    <legend>Schedule</legend>
    <ul class="detail-calendar editing clearfix">
      <li class="end">
        <span>Su</span>
        <a href="#">breakfast</a>
        <a href="#">lunch</a>
        <a href="#">snack</a>
        <a href="#">dinner</a>
      </li>
      <li>
        <span>Mo</span>
        <a href="#">breakfast</a>
        <a href="#">lunch</a>
        <a href="#">snack</a>
        <a href="#">dinner</a>
      </li>
      <li>
        <span>Tu</span>
        <a href="#">breakfast</a>
        <a href="#">lunch</a>
        <a href="#">snack</a>
        <a href="#">dinner</a>
      </li>
      <li>
        <span>We</span>
        <a href="#">breakfast</a>
        <a href="#">lunch</a>
        <a href="#">snack</a>
        <a href="#">dinner</a>
      </li>
      <li>
        <span>Th</span>
        <a href="#">breakfast</a>
        <a href="#">lunch</a>
        <a href="#">snack</a>
        <a href="#">dinner</a>
      </li>
      <li>
        <span>Fr</span>
        <a href="#">breakfast</a>
        <a href="#">lunch</a>
        <a href="#">snack</a>
        <a href="#">dinner</a>
      </li>
      <li class="last">
        <span>Sa</span>
        <a href="#">breakfast</a>
        <a href="#">lunch</a>
        <a href="#">snack</a>
        <a href="#">dinner</a>
      </li>
    </ul>    
  </fieldset>
  <button class="right" type="button" style="margin-left:1em;">
    Update Meal Plan
  </button>

  <button class="right" type="button">
    Create a new Meal
  </button> 
  <fieldset>
    <legend>Available Meals</legend>
    <ul id="planning-selector" class="clearfix">
      <li><a href="#" class="active">Breakfast</a></li>
      <li><a href="#">Lunch</a></li>
      <li><a href="#">Snacks</a></li>
      <li><a href="#">Dinner</a></li>
    </ul>

    <ul id="breakfast-list" class="selection-panel clearfix">
      <li><span></span><p>2 eggs, bacon and toast</p></li>
      <li><span></span><p>Instant oatmeal with cinnamon</p></li>
      <li><span></span><p>Cereal with 3.5 grams of fiber and 8 oz. of milk</p></li>
      <li><span></span><p>Assorted fruit with 1/2 whole wheat bagel</p></li>
      <li><span></span><p>Ham and cheese sandwich with cottage cheese and blueberries</p></li>
      <li><span></span><p>Chicken breast with wild rice and pinto beans</p></li>
      <li><span></span><p>4 oz. burger wrap with lettuce, tomato, onion and spicy mustard</p></li>
      <li><span></span><p>Meat loaf with mixed vegetables</p></li>
      <li><span></span><p>Chicken breast with wild rice and pinto beans</p></li>
      <li><span></span><p>4 oz. burger wrap with lettuce, tomato, onion and spicy mustard</p></li>
    </ul>    
  </fieldset>
</form>





